In [1]:
#1. Question
#Create a variable age and assign it the value 25 . Then print the value of age along with its data type using the type() function.

In [2]:
age = 25

In [3]:
age

25

In [4]:
type(age)

int

In [5]:
#2. Question
#Assign the number 12.5 to a variable price . Print both the variable and its data type. Then assign the value 12 to the same variable and print its data
#type again. What do you observe?

In [6]:
price= 12.5

In [8]:
print(price)
type(price)

12.5

float

In [9]:
price = 12

In [10]:
print(price)
type(price)

12

int

In [11]:
# the datatype change when the values change i.e when the value is 12.5 then it gives float data type and after the value gets changed from 12.5 to 12
# the datatype change and it gives int data type

In [12]:
#3. Question
#Create a variable is_raining and set it to True . Print the value of the variable along with its type.
#Then set is_raining to False and print the new value and type.

In [13]:
is_raining = True

In [14]:
print(is_raining)
type(is_raining)

True

bool

In [15]:
is_raining = False

In [16]:
print(is_raining)
type(is_raining)

False

bool

In [17]:
#4. Question
#Create a variable my_name and store your full name in it as a string. Then print the value of my_name using single quotes ' .

In [18]:
my_name = "Prachi"

In [23]:
my_name

'Prachi'

In [24]:
#5. Question
#Write a Python program that asks the user for their name and age using the input() function. Store the inputs in variables and print a sentence like
#"Hello, [Name]! You are [Age] years old." Ensure you cast the age to an integer.

In [27]:
name= input("Enter your name")
age=int(input("Enter your age"))
print("Hello",name,"! you are ",age,"years old.")

Enter your name prachi
Enter your age 21

Hello prachi ! you are  21 years old.

In [28]:
#6. Question
#Create two variables x and y and assign them the values 10 and 3.5 , respectively. Print their values and types. Then, create a new variable
#sum_xy and store the sum of x and y . Print the result and its type.

In [29]:
X = 10

In [34]:
print(X)
type(X)

10

int

In [31]:
Y= 3.5

In [33]:
print(Y)
type(Y)

3.5

float

In [35]:
sum_xy = X+Y

In [36]:
print(sum_xy)
type(sum_xy)

13.5

float

In [37]:
#7. Question
#Using the type() function, check and print the data type of the following:
#45.0
#"hello"
#None
#False

In [38]:
type(45.0)

float

In [39]:
type("hello")

str

In [40]:
type(None)

NoneType

In [41]:
type(False)

bool

In [42]:
#8. Question
#Write a Python program to print three strings "apple" , "banana" , and "cherry" on the same line, separated by a space. Then modify the program to
#separate the strings using a comma , instead of a space.

In [44]:
print("apple","banana","cherry",sep = " ")

apple banana cherry

In [45]:
print("apple","banana","cherry",sep = ",")

apple,banana,cherry

In [46]:
#9. Question
#Create a variable big_number and assign it a very large integer value (e.g., 987654321987654321 ). Print the value and its type. What do you notice
#about the size of the number?

In [47]:
big_number = 987654321987654321

In [48]:
big_number

987654321987654321

In [49]:
type(big_number)

int

In [50]:
# it remains as a integer

In [51]:
#10. Question
#Write a Python program that prints the result of multiplying two floats (e.g., 2.5 and 3.7 ). Then check and print the data type of the result.

In [52]:
X=2.5*3.7

In [53]:
X

9.25

In [54]:
type(X)

float